# Лабораторная работа к лекции 1
Ваше имя: Вереина Мария

Ваш адрес электронной почты: VereinaMS@mgpu.ru

## Упражнение 1.1. Типы данных и операции
1. Определите две переменные и присвойте первой целое число, а второй — число с плавающей запятой. Определите новую переменную и присвойте сумму двух предыдущих переменных. Каков тип данных третьей переменной?
2. Переназначьте переменную с другим типом данных, например, возьмите одну из числовых переменных и присвойте ей строку. Какой новый тип данных?
3. Посмотрите, что произойдет, если вы попытаетесь добавить строку к строке.
4. Посмотрите, что произойдет, если вы добавите строку к числу с плавающей запятой или целому числу.

In [17]:
# Задание 1
a = 12
b = 17.3
sum = a + b
print(sum)
print('Тип данных третьей переменной - число с плавающей запятой:')
(type(sum))

29.3
Тип данных третьей переменной - число с плавающей запятой:

float

In [18]:
# Задание 2
a = str(a)
print('Новый тип данных - строка:')
type(a)

Новый тип данных - строка:

str

In [19]:
# Задание 3
c = ' месяцев в году'
ac = a + c
print('Результат добавления строки к строке: ' + ac)

Результат добавления строки к строке: 12 месяцев в году

In [20]:
# Задание 4

#print(c + 10)

#Ошибка: can only concatenate str (not "int") to str
#без преобразований сложить строку и число нельзя, преобразования могут быть такими:

#print(int(a)+b)

## Упражнение 1.2. Запуск программ

  * Создайте новый файл Python(или файл с расширением `.ipynb`) и используйте функцию `double_number` в качестве шаблона. Измените код, чтобы добавить два числа вместо удвоения одного числа.
  * Можете ли вы догадаться, что произойдет, если изменить отступ? Выполните данное действие.
  * Попробуйте, что произойдет, если вы напечатаете `a` в самом конце программы. Пояснить, что происходит?
 [Текст ссылки](https://)

In [21]:
def double_number(a,b):
    a += b
    return a

print(double_number(3, 6))
print(double_number(13.2,11.4))

9
24.6

In [22]:
#def double_number(a,b):
#a += b
#return a

#print(double_number(3,6))
#print(double_number(13.2,11.4))

#в Python после двоеточия идёт тело функции, которое отделяется отступами.
#В этом коде команда начинается на том же уровне, что и определение функции, а в Python так не принято.
#Компилятор сообщает, что не хватает отступов, выводя ошибку IndentationError.

In [23]:
#def double_number(a,b):
#    a += b
#    return aa

#print(double_number(3,6))
#print(double_number(13.2,11.4))

#если добавить 'а' в конце программы, будет ошибка:
#name 'aa' is not defined, так как переменную с таким именем не определяли

## Упражнение 1.3. Создание ячеек, выполнение кода

1. Создайте новую ячейку кода ниже, где вы определите переменные, содержащие ваше имя, ваш возраст  и вашу специальность.
2. Создайте еще одну ячейку, использующую эти переменные, и выведите объединенную строку с указанием вашего имени, специальности и возраста в годах, месяцах и днях (при условии, что сегодня ваш день рождения). Вывод должен выглядеть так:

```
Имя: Кот-ученый, Специальность: Бизнес-Информатика, Возраст: 18 лет, или 216 месяцев, или 6480 дней..
```

In [24]:
name = "Вереина Мария"
age = 20
spec = 'Бизнес-информатика'

In [25]:
print(f"Имя: {name}, Специальность: {spec}, Возраст: {age} лет, или {age*12} месяцев, или {age*12*30} дней..")

Имя: Вереина Мария, Специальность: Бизнес-информатика, Возраст: 20 лет, или 240 месяцев, или 7200 дней..

## Упражнение 1.4: Функции
Напишите функцию, которая
  * принимает две числовые переменные
  * умножает их друг на друга
  * делит их на числовую переменную, определенную в области видимости вне функции
  * и возвращает результат.

Выведите результат функции для трех разных наборов входных переменных.

In [26]:
var = 4

def function(a, b):
    return (a * b)/var

res = function(14, 4)
print("Результат: ", res)

res = function(6, 18)
print("\nРезультат: ", res)

res = function(9, 11)
print("\nРезультат: ", res)

Результат:  14.0

Результат:  27.0

Результат:  24.75

## Упражнение 1.5*

Есть некоторые данные о количестве книг, прочитанных разными людьми, работающими в книжном магазине Владимира. Создайте код Python, который учитывает каждого человека и выводит, сколько книг он прочитал. Если кто-то прочитал 0 книг, выведите «___ не читал ни одной книги!» вместо количества книг.

In [27]:
people = ['Krishnang', 'Steve', 'Jimmy', 'Mary', 'Divya', 'Robert', 'Yulia']
books_read = [12, 6, 0, 7, 4, 10, 15]

Существует несколько способов решить эту задачу: можно изучить функцию `zip()`, использовать `enumerate()`, `range` и `len` или использовать другие методы. Чтобы напечатать имена и значения, вы можете использовать конкатенацию строк (+), форматирование f-строки или другие методы.

In [28]:
#способ 1
for i in range(len(books_read)):
    if books_read[i] == 0:
        print(people[i], 'не читал ни одной книги!')
    else:
        print(people[i], 'прочитал', books_read[i], 'книг.')

Krishnang прочитал 12 книг.
Steve прочитал 6 книг.
Jimmy не читал ни одной книги!
Mary прочитал 7 книг.
Divya прочитал 4 книг.
Robert прочитал 10 книг.
Yulia прочитал 15 книг.

In [29]:
#способ 2
for name, number in zip(people, books_read):
  if number == 0:
    print(name, 'не читал ни одной книги!')
  else:
    print(name, 'прочитал', number, 'книг.')

Krishnang прочитал 12 книг.
Steve прочитал 6 книг.
Jimmy не читал ни одной книги!
Mary прочитал 7 книг.
Divya прочитал 4 книг.
Robert прочитал 10 книг.
Yulia прочитал 15 книг.

Преобразуйте только что созданный цикл в функцию, которая принимает два списка (прочитанные книги и людей) в качестве аргументов.

In [30]:
def book_function(df1, df2):
  for i in range(len(df1)):
    if df1[i] == 0:
      print(df2[i], 'не прочел ни одной книги!')
    else:
      print(df2[i], 'прочитал', df1[i], 'книг.')

book_function(books_read, people)

Krishnang прочитал 12 книг.
Steve прочитал 6 книг.
Jimmy не прочел ни одной книги!
Mary прочитал 7 книг.
Divya прочитал 4 книг.
Robert прочитал 10 книг.
Yulia прочитал 15 книг.

Отсортируйте значения `books_read` от большего к меньшему и выведите трех первых людей с количеством прочитанных ими книг. Некоторые возможные способы решения этой задачи включают использование сортировки аргументов `NumPy`, создание словаря и создание кортежей.

In [31]:
def top_readers(data1, data2):
  data1.sort(reverse=True)
  for i in range(min(len(data2),3)):
    print(data2[i], 'прочитал', data1[i], 'книг.')

top_readers(books_read, people)

Krishnang прочитал 15 книг.
Steve прочитал 12 книг.
Jimmy прочитал 10 книг.

In [32]:
sorted_books = sorted(books_read, reverse = True)[:3]
for i in people[:3]:
  if books_read[people.index(i)] in sorted_books:
    print(i, 'прочитал', books_read[people.index(i)], 'книг.')

Krishnang прочитал 15 книг.
Steve прочитал 12 книг.
Jimmy прочитал 10 книг.